name: CI

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  phpstan-and-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.2"
          tools: composer

      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist --no-progress

      - name: Run PHPStan
        run: ./vendor/bin/phpstan analyse --level=10 --memory-limit=512M

      - name: Run Pest
        run: ./vendor/bin/pest --parallel
